# Default number of objects per page
PER_PAGE = 9

# Django secret key
SECRET_KEY = "CHANGE-ME"

DEBUG = False

SELENIUM_HEADLESS = --headless

# Database settings
# Sqlite
DATABASE_ENGINE = "django.db.backends.sqlite3"
DATABASE_NAME = "./db.sqlite3"

# Postgres
# DATABASE_ENGINE="django.db.backends.postgresql"
# DATABASE_NAME="basededados"

DATABASE_USER = "usuario"
DATABASE_PASSWORD = "senha"
DATABASE_HOST = "127.0.0.1"
DATABASE_PORT = "5432"

AWS_ACCESS_KEY_ID = "sua-access-key-id"  # O valor do Access Key ID do Cloudflare
AWS_SECRET_ACCESS_KEY = "sua-secret-access-key"  # O valor do Secret Access Key do Cloudflare
AWS_STORAGE_BUCKET_NAME = "nome-do-seu-bucket"  # O nome do seu bucket no Cloudflare R2
AWS_S3_REGION_NAME = "auto"  # Você pode usar "auto" ou o nome da região específica
AWS_S3_ENDPOINT_URL = "https://<account_id>.r2.cloudflarestorage.com"  # Substitua por seu endpoint do R2

# Definir o backend de armazenamento de arquivos estáticos
DEFAULT_FILE_STORAGE = "storages.backends.s3boto3.S3Boto3Storage"

# Definir o backend de armazenamento de arquivos de mídia
AWS_S3_FILE_OVERWRITE = False
